---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Footer from "./Footer";
import Header from "./Header";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="max-w-screen-lg mx-2 md:mx-auto">
    <Header />
    <slot />
    <Footer />
    {
      import.meta.env.PROD && (
        <script
          defer
          src="https://umami.abo.network/script.js"
          data-website-id="ff2faf40-71ed-43e7-84ed-ef8e0295201e"
        />
      )
    }
    {
      import.meta.env.PROD && (
        <script
          async
          src="https://www.googletagmanager.com/gtag/js?id=G-GPL8LNKD63"
        />
      )
    }
    {import.meta.env.PROD &&(<script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-GPL8LNKD63");
    </script>)}
  </body>
</html>
<style is:global>
  :root {
    --link-color: 214, 65%, 55%;
    --link-color-deep: 214, 70%, 35%;
  }
  html {
    /* font-family: system-ui, sans-serif; */
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
